 
 
<div class="jumbotron text-center jumbo_tron" >
  
  <nav class="navbar navbar-expand-lg navbar-dark nav_bar" >
      <a class="navbar-brand hidden_pbr"><img class="logo_infor" src="/assets/img/infor.png"></a>
   
      <div class="dropdown">
          <button class="btn btn-secondary btn_menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/assets/icons/menu.png" >
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Sincronizar encuestas</a>
            <a class="dropdown-item" href="#">Enviar encuestas</a>
            <a class="dropdown-item" href="#">Nueva encuesta</a>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </div>
        </div>
      <div class="collapse navbar-collapse justify-content-end nav_collapse" >
          
     
         
            <ul class="navbar-nav justify-content-left ">
              <li class="nav-item">
                <a class="nav-link btn_menu_1" style="color: white;">Sincronizar encuestas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn_menu_1" style="color: white;">Enviar encuestas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn_menu_1" style="color: white;">Nueva encuesta</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn_menu_1" style="color: white;">Cerrar sesión</a>
                </li>
            </ul>

      </div>
      <img class="img_filtro" src="/assets/icons/icon_filtro.png">
    </nav>
    <img src="/assets/img/logo_infor.png" class="logo_infor_hoja">
    <p class="encuestas_pendientes" >Encuestas pendientes: xx</p>
</div>

