<app-navbar></app-navbar>
<app-title [formulario]=true></app-title>
<form [formGroup]="forma" (ngSubmit)="guardar()" novalidate="novalidate">




    <subtitulo [titulo]="'C1. Cuantificación de la producción'"></subtitulo>
    <div class="contenedor">
        <div class="div_responsivo">
            <span><b>a) Producción SIN corteza</b></span>
            <table >

                <tr>

                    <td class="td_form_c">
                        <textbox-numerico  formControlName="produccion_anual_a" [titulo]="'Producción anual'" [clase_label]="'label_form_c'" [clase_input]="'input_form_c'"></textbox-numerico>
                    </td>

                    <td class="td_form_c_unidad">
                        <lista-desplegable  formControlName="unidad_a" [titulo]="'Unidad'" [clase_label]="'label_form_c_unidad'" [clase_input]="'input_form_c_unidad'"></lista-desplegable>
                    </td>


                    <td class="td_form_c">
                        <textbox-numerico  formControlName="produccion_proyectada_a" [titulo]="'Producción proyectada'" [clase_label]="'label_form_c'" [clase_input]="'input_form_c'"></textbox-numerico>
                    </td>



                    <td class="td_form_c_variacion">
                        <textbox-numerico formControlName="variacion_a" [titulo]="'Variación (%)'" [clase_label]="'label_form_c_variacion'" [clase_input]="'input_form_c_variacion'"> </textbox-numerico>
                    </td>

                </tr>
            </table>
        </div>

        <div class="div_responsivo">
            <span><b>b) Producción CON corteza</b></span>
            <table>

                <tr>

                    <td class="td_form_c">
                        <textbox-numerico  formControlName="produccion_anual_b"  [titulo]="'Producción anual'" [clase_label]="'label_form_c'" [clase_input]="'input_form_c'"></textbox-numerico>
                    </td>
             
                    <td class="td_form_c_unidad">
                        <lista-desplegable formControlName="unidad_b"  [titulo]="'Unidad'" [clase_label]="'label_form_c_unidad'" [clase_input]="'input_form_c_unidad'"></lista-desplegable>
                    </td>


                    <td class="td_form_c">
                        <textbox-numerico  formControlName="produccion_proyectada_b"  [titulo]="'Producción proyectada'" [clase_label]="'label_form_c'" [clase_input]="'input_form_c'"></textbox-numerico>
                    </td>



                    <td class="td_form_c_variacion">
                        <textbox-numerico   formControlName="variacion_b"  [titulo]="'Variación (%)'" [clase_label]="'label_form_c_variacion'" [clase_input]="'input_form_c_variacion'"> </textbox-numerico>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <div class="contenedor">
        <div class="div_responsivo">
            <span><b>c) Antecedentes turnos</b></span>
            <table>

                <tr>
         
                    <td class="td_form_c">
                        <textbox-numerico  formControlName="produccion_turno" [titulo]="'Producción/turno'" [clase_label]="'label_form_c'" [clase_input]="'input_form_c'"></textbox-numerico>
                    </td>

                    <td class="td_form_c_unidad">
                        <lista-desplegable  formControlName="unidad_c"  [titulo]="'Unidad'" [clase_label]="'label_form_c_unidad'" [clase_input]="'input_form_c_unidad_c1'"></lista-desplegable>
                    </td>


                    <td class="td_form_c">
                        <textbox-numerico  formControlName="capacidad_maxima_turno" [titulo]="'Capacidad maxima/turno'" [clase_label]="'label_form_c'" [clase_input]="'input_form_c'"></textbox-numerico>
                    </td>

                    <td class="td_form_c_unidad">
                        <lista-desplegable  formControlName="unidad_c_" [titulo]="'Unidad'" [clase_label]="'label_form_c_unidad'" [clase_input]="'input_form_c_unidad_c1'"></lista-desplegable>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_responsivo">
            <span><b></b></span>
            <table>
                <tr>


                    <td class="td_form_c">
                        <textbox-numerico  formControlName="dias_trabajados_mes" [titulo]="'Días trabajados/mes'" [clase_label]="'label_form_c'" [clase_input]="'input_form_antecedentes_turno'"></textbox-numerico>
                    </td>
                    <td class="td_form_c">
                        <textbox-numerico formControlName="n_turnos_dia"  [titulo]="'N° turnos/día'" [clase_label]="'label_form_c'" [clase_input]="'input_form_antecedentes_turno'"></textbox-numerico>
                    </td>
                    <td class="td_form_c">
                        <textbox-numerico formControlName="n_horas_turno" [titulo]="'N° horas/turno'" [clase_label]="'label_form_c'" [clase_input]=" 'input_form_antecedentes_turno' "></textbox-numerico>
                    </td>
                </tr>
            </table>

        </div>

    </div>
    <div class="contenedor">
        <div class="div_responsivo">
            <table class="boton_a_la_derecha">
                <tr>
                    <td> <span><b>Meses trabajados</b></span></td>
                    <td class="td_c2">
                        <checkbox [value]="todos"   formControlName="todos" [titulo]=" 'Todos' " (change)="activar_todos()" [clase_label]=" 'ancho_25' "></checkbox>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <div class="contenedor">
        <div class="div_responsivo">
            <table>
                <tr>


                    <td>
                        <checkbox (click)="desactivar_todos();" (change)=" add_meses_detalle()"  formControlName="enero" [id]="1" [titulo]=" 'Enero' " [clase_label]="'ancho_25_c'"></checkbox>


                    </td>
                    <td>
                        <checkbox (click)="desactivar_todos();" (change)="add_meses_detalle()"  formControlName="febrero" [id]="2" [titulo]=" 'Febrero' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>
                    <td>
                        <checkbox (click)="desactivar_todos();" (change)="add_meses_detalle()"  formControlName="marzo" [id]="3" [titulo]=" 'Marzo' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>
                    <td>
                        <checkbox (click)="desactivar_todos();" (change)="add_meses_detalle()"  formControlName="abril" [id]="4" [titulo]=" 'Abril' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>

                </tr>
            </table>
        </div>
        <div class="div_responsivo_c1">
            <table>

                <tr>


                    <td>
                        <checkbox (click)="desactivar_todos(); " (change)="add_meses_detalle()" formControlName="mayo" [id]="5"  [titulo]=" 'Mayo' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>
                    <td>
                        <checkbox (click)="desactivar_todos();" (change)="add_meses_detalle()" formControlName="junio" [id]="6"  [titulo]=" 'Junio' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>
                </tr>
            </table>
        </div>
        <div class="div_responsivo_c1_2">
            <table>
                <tr>
                    <td>
                        <checkbox (click)="desactivar_todos(); " (change)="add_meses_detalle()" formControlName="julio" [id]="7"   [titulo]=" 'Julio' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>
                    <td>
                        <checkbox (click)="desactivar_todos(); " (change)="add_meses_detalle( )" formControlName="agosto" [id]="8"  [titulo]=" 'Agosto' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>

                </tr>
            </table>
        </div>
        <div class="div_responsivo_c1_3">
            <table>

                <tr>


                    <td>
                        <checkbox (click)="desactivar_todos(); " (change)="add_meses_detalle()" formControlName="septiembre" [id]="9"  [titulo]=" 'Septiembre' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>
                    <td>
                        <checkbox (click)="desactivar_todos(); " (change)="add_meses_detalle()" formControlName="octubre" [id]="10"  [titulo]=" 'Octubre' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>
                    <td>
                        <checkbox (click)="desactivar_todos(); " (change)="add_meses_detalle()" formControlName="noviembre" [id]="11"  [titulo]=" 'Noviembre' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>
                    <td>
                        <checkbox (click)="desactivar_todos(); " (change)="add_meses_detalle()" formControlName="diciembre" [id]="12"  [titulo]=" 'Diciembre' " [clase_label]=" 'ancho_25_c' "></checkbox>


                    </td>

                </tr>
            </table>
        </div>
    </div>
    <subtitulo [titulo]="'C2. Producción por especie. '"></subtitulo>
    <div class="contenedor">
        <table class="tabla_0">
            <tr>
                <td colspan="2 "></td>
                <td class="td_c2">
     
                    <lista-desplegable  [especies_en_indexdb]="especies_en_indexdb" [especie_seleccionada]="especie_seleccionada" formControlName="agregar_especie" (change)="agregar_especie()"  [titulo]=" '' " [clase_input]=" 'input_agregar_especie'"></lista-desplegable>
                </td>

            </tr>
        </table>

        <table class="tabla ">

            <tr>
                <th class="esquina_izquierda ">Especie</th>
                <th class="celda_subtitulo " >S/C(%)</th>
                <th class="celda_subtitulo ">C/C(%)</th>
                <th class="celda_subtitulo ">Total</th>
                <th class="esquina_derecha ">Borrar</th>
            </tr>
            <ng-container *ngFor="let option of lista ;  let i = index "  >
            <tr>
                <td class="sin_borde_abajo ">{{option[0]}}</td>

                <td class="sin_borde_abajo ">
              
                    <textbox-porcentaje  (change)="mostrar_c3a(this.forma.get('sin_corteza_'+option[2]).value, option[2]); contador2_cero()" [formControlName]="'sin_corteza_'+option[2]" [titulo]=" '' " [clase_input]=" 'input_form_c3' " ></textbox-porcentaje>
                </td>
                <td class="sin_borde_abajo ">
         
                    <textbox-porcentaje (change)="mostrar_c3b(this.forma.get('con_corteza_'+option[2]).value ,option[2]); contador2_cero()"  [formControlName]="'con_corteza_'+option[2]" [titulo]=" '' " [clase_input]=" 'input_form_c3' " ></textbox-porcentaje>
                </td>
                <td class="sin_borde_abajo ">
         
                    <textbox-porcentaje [formControlName]="'porcentaje_final_'+option[2]" [titulo]=" '' " [clase_input]=" 'input_form_c3' " ></textbox-porcentaje>
                </td>

                <td class="sin_borde_abajo " align="center "><img  (click)="borrar_fila(option[0], i , option[2], option[1])" src="assets/icons/trash.png"></td>
            </tr>

        </ng-container>
        

        </table>


    </div>
    
    <subtitulo [titulo]=" 'C3. Destino de la producción por especie' "></subtitulo>
    <div class="contenedor">
            <ng-container *ngIf="mostrar_a">
        <div class="div_responsivo ">
            <span><b>a) Astillas SIN corteza</b></span>
            <table class="tabla ">

                <tr>
                    <th class="esquina_izquierda ">Destino</th>
                    <ng-container *ngFor="let option of lista_a ; let i = index ; let ultimo = last">
                            <ng-container *ngIf="ultimo == false">
                                    <th class="celda_subtitulo">{{option[0]}}</th>
                                </ng-container>
             
                            <ng-container *ngIf="ultimo">
                                    <th class="esquina_derecha ">{{option[0]}}</th>
                                </ng-container>
                  
                </ng-container>

                </tr>
                <ng-container *ngFor="let option of lista_2 ; let a = index ">
                    <tr>
              
                        <td class="sin_borde_abajo ">{{option[0]}}</td>
                   
                                <ng-container *ngFor="let option of lista_a ; let b = index">
                                    <td>      
                             
                                        <textbox-numerico  [formControlName]="'a_'+option[2]+'_'+a" [titulo]=" '' " [clase_label]=" 'label_form_c' " [clase_input]=" 'input_form_c3' "> </textbox-numerico>
                                    </td>
                                </ng-container>
                            
                    </tr>
               
       
                </ng-container>
         
     
            </table>
        </div>
    </ng-container>
    <ng-container *ngIf="mostrar_b">
        <div class="div_responsivo_c3_b  ">
            <span><b>b) Astillas SIN corteza</b></span>
            <table class="tabla ">

                <tr>
                    <th class="esquina_izquierda ">Destino</th>
                    <ng-container *ngFor="let option of lista_b ; let i = index ; let ultimo = last">
                            <ng-container *ngIf="ultimo == false">
                                    <th class="celda_subtitulo">{{option[0]}}</th>
                                </ng-container>
             
                            <ng-container *ngIf="ultimo">
                                    <th class="esquina_derecha ">{{option[0]}}</th>
                                </ng-container>
                  
                </ng-container>

                </tr>
                <ng-container *ngFor="let option of lista_2 ; let a = index ">
                    <tr>
              
                        <td class="sin_borde_abajo ">{{option[0]}}</td>
                   
                                <ng-container *ngFor="let option of lista_b ; let b = index">
                                    <td>      
                                        <textbox-numerico  [formControlName]="'b_'+option[2]+'_'+a" [titulo]=" '' " [clase_label]=" 'label_form_c' " [clase_input]=" 'input_form_c3' "> </textbox-numerico>
                                    </td>
                                </ng-container>
                            
                    </tr>
               
       
                </ng-container>
         
     
            </table>
        </div>
      
    </ng-container>
    </div>
    <subtitulo [titulo]=" 'C4. Precio de venta y contenido de humedad promedio' "></subtitulo>
    <div class="contenedor">
        <ng-container *ngIf="mostrar_a">
        <div class="div_responsivo ">
            <span><b>a) Astillas SIN corteza</b></span>
            <table class="tabla ">

                <tr>
                    <th class="esquina_izquierda ">Especie</th>
                    <th class="celda_subtitulo ">Precio</th>
                    <th class="celda_subtitulo ">Unidad</th>
                    <th class="celda_subtitulo ">C.H.(%)</th>
                    <th class="esquina_derecha ">Puesto</th>
                </tr>
                <ng-container *ngFor="let option of lista_a ; let i = index">
                        <tr>
                                <td class="sin_borde_abajo ">{{option[0]}}</td>
                                <td class="sin_borde_abajo ">
                                    <textbox-numerico [formControlName]="'a_precio_'+i"  [titulo]=" '' " [clase_label]=" 'label_form_c' " [clase_input]=" 'input_form_c4' "></textbox-numerico>
                                </td>
                                <td class="sin_borde_abajo ">
                                    <lista-desplegable [formControlName]="'a_unidad_'+i"  [titulo]="''" [clase_label]=" 'input_form_c' " [clase_input]=" 'input_form_c4' "></lista-desplegable>
                                </td>
                                <td class="sin_borde_abajo ">
                                    <textbox-porcentaje [formControlName]="'a_c_h_'+i"   [titulo]=" '' " [clase_label]=" 'input_form_c' " [clase_input]=" 'input_form_c4' "></textbox-porcentaje>
                                </td>
                                <td class="sin_borde_abajo ">
                                    <lista-desplegable [formControlName]="'a_puesto_'+i"   [titulo]=" '' " [clase_label]=" 'input_form_c' " [clase_input]=" 'input_form_c4_puesto' "></lista-desplegable>
                                </td>
                            </tr>
                    </ng-container>
        





            </table>
        </div>
</ng-container>
<ng-container *ngIf="mostrar_b">
        <div class="div_responsivo_c4_b ">
            <span><b>b) Astillas CON corteza</b></span>
            <table class="tabla ">

                <tr>
                    <th class="esquina_izquierda ">Especie</th>
                    <th class="celda_subtitulo ">Precio</th>
                    <th class="celda_subtitulo ">Unidad</th>
                    <th class="celda_subtitulo ">C.H.(%)</th>
                    <th class="esquina_derecha ">Puesto</th>
                </tr>
                <ng-container *ngFor="let option of lista_b ; let i = index">
                        <tr>
                                <td class="sin_borde_abajo ">{{option[0]}}</td>
                                <td class="sin_borde_abajo ">
                                    <textbox-numerico [formControlName]="'b_precio_'+i" [titulo]=" '' " [clase_label]=" 'label_form_c' " [clase_input]=" 'input_form_c4' "></textbox-numerico>
                                </td>
                                <td class="sin_borde_abajo ">
                                    <lista-desplegable [formControlName]="'b_unidad_'+i" [titulo]=" '' " [clase_label]=" 'input_form_c' " [clase_input]=" 'input_form_c4' "></lista-desplegable>
                                </td>
                                <td class="sin_borde_abajo ">
                                    <textbox-porcentaje [formControlName]="'b_c_h_'+i" [titulo]=" '' " [clase_label]=" 'input_form_c' " [clase_input]=" 'input_form_c4' "></textbox-porcentaje>
                                </td>
                                <td class="sin_borde_abajo ">
                                    <lista-desplegable  [formControlName]="'b_puesto_'+i" [titulo]=" '' " [clase_label]=" 'input_form_c' " [clase_input]=" 'input_form_c4_puesto' "></lista-desplegable>
                                </td>
                            </tr>
                </ng-container>





            </table>
        </div>
        </ng-container>
    </div>
    <div class="btn_enviar " align="center "> <button type="submit " class="btn btn-success btn-lg ">FINALIZAR FORMULARIO</button></div>

</form>

<menu-footer>
</menu-footer>