.contenedor {
    margin-left: 17px;
    margin-right: 17px;
}

.tabla {
    width: 34.6rem;
}

.tabla_0 {
    width: 57.6rem;
}

.td_form_c {
    width: 192px;
}

.td_form_c_unidad {
    width: 83px;
}

.td_form_c_variacion {
    width: 122px;
}

.div_responsivo,
.div_responsivo_c1 {
    box-sizing: border-box;
    display: table-cell;
    padding-right: 0px;
}

.div_responsivo_c1_2 {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 0px;
}

.div_responsivo_c1_3 {
    box-sizing: border-box;
    display: inline-block;

}
.div_responsivo_c3_b , .div_responsivo_c4_b {
    box-sizing: border-box;
    display: table-cell;
    padding-left: 50px;

}
.sin_borde_arriba {
    border-top: unset;
}

.sin_borde_abajo {
    border-bottom: unset;
    height: 38px;
}

.esquina_izquierda {
    border-left: 1px solid;
    font-weight: normal;
    background-color: lightgrey;
}

.esquina_derecha {
    border-right: 1px solid;
    font-weight: normal;
    background-color: lightgrey;
}

.celda_subtitulo {
    background-color: lightgrey;
    font-weight: normal;
}

td,
th {

    border-top-width: 0px;
    border-bottom-width: 0px;
}

table th {
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
img{
    cursor: pointer; margin-top: 7px; height: 35px;
}
table {
    border-color: #fff;
    margin-left: unset;
}

span {
    color: green;
    margin-left: 5px;
}

.boton_a_la_derecha {
    width: 80.7rem;
}
@media screen and (max-width: 320px)   {
    .tabla {
        width: 18.6rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 321px)  {
     
    .div_responsivo {
        display: inline-block;
        margin-top: 10px;
    }
    .div_responsivo_c3_b , .div_responsivo_c4_b {
        display: inline-block;
        margin-top: 10px;
        padding-left: 0px;
    }
    .div_responsivo_c1 {
        display: inline-block;
        padding-right: 0px;
    }
    .col-2 {
        display: table;
    }
    .boton_a_la_derecha {
        width: 46rem;
    }
    .div_responsivo {
        display: inline-block;
        margin-top: 10px;
    }
    .td_form_c_variacion {
        width: 122px;
    }
    .tabla {
        width: 46.6rem;
    }
    .td_c2 {
        width: 174px;
    }
    .tabla_0 {
        width: 46rem;
    }
}
@media screen and (max-width: 1321px) and (min-width: 1021px) {
   
    .div_responsivo {
        display: inline-block;
        margin-top: 10px;
      
    }
    .div_responsivo_c3_b , .div_responsivo_c4_b  {
        display: inline-block;
        margin-top: 10px;
        padding-left:0px;
    
    }
    .div_responsivo_c1 {
        display: inline-block;
        padding-right: 0px;
    }
    .col-2 {
        display: table;
    }
    .boton_a_la_derecha {
        width: 62rem;
    }
    .div_responsivo {
        display: inline-block;
        margin-top: 10px;
    }
    .td_form_c_variacion {
        width: 122px;
    }
    .tabla {
        width: 50.6rem;
    }
    .td_c2 {
        width: 174px;
    }
    .tabla_0 {
        width: 51rem;
    }
}
@media screen and (max-width: 1552px) and (min-width: 1321px) {
    .boton_a_la_derecha {
        width: 107rem;

    }
}
