<app-navbar></app-navbar>
<app-title [formulario]=true></app-title>
<div class="animated fadeIn fast container-fluid formulario">
    <app-formulario  #formulario *ngIf="encuesta" >
        <h2 >A1. Antecedente de la planta</h2>
        <hr>
        <div class="form-inline">
            <lista-desplegable2 class="col-12 col-md-4" [(value)]="encuesta.REGION" validadores="requerido()" [lista]="regionesList" (valueChange)="cambiarProvincias(true,encuesta.REGION)" titulo="Región" identificador="REGION" texto="NOMBRE"></lista-desplegable2>
            <lista-desplegable2 class="col-12 col-md-4" [(value)]="encuesta.PROVINCIA" validadores="requerido()" [lista]="provinciasList" (valueChange)="cambiarComunas(true,encuesta.REGION,encuesta.PROVINCIA)" titulo="Provincia" identificador="PROVINCIA" texto="NOMBRE"></lista-desplegable2>
            <lista-desplegable2 class="col-12 col-md-4" [(value)]="encuesta.COMUNA" validadores="requerido()" [lista]="comunasList" titulo="Comuna" identificador="COMUNA" texto="NOMBRE"></lista-desplegable2>
    
            <app-textbox-input class="col-12 col-xl-4" tipo="Texto" titulo="Localidad" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.LOCALIDAD"></app-textbox-input>
            <app-textbox-input class="col-6 col-sm-3 col-xl-2" tipo="Entero" titulo="UTM X" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.UTMX"></app-textbox-input>
            <app-textbox-input class="col-6 col-sm-3 col-xl-2" tipo="Entero" titulo="UTM Y" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.UTMY"></app-textbox-input>            
            
            <lista-desplegable2 class="col-6 col-sm-3  col-xl-2" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.HUSO" [lista]="husoList" titulo="Huso" identificador="id" texto="valor"></lista-desplegable2>
            <div class="col-6 col-sm-3 col-xl-2 container  d-flex">    
                <lista-desplegable2 class="col" style="width: calc(100% - 40px);padding-left: 0px;padding-right: 10px;" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.ZONA" [lista]="zonaList" titulo="Zona" identificador="id" texto="valor"></lista-desplegable2>                                                  
                <button  type="button" (click)="convertLatLngToUtm()" class="noPadding btn btn-success btn-elevado col align-self-center btn-gps float-right"><img class="img-gps"  src="assets\icons\icon_place.png"></button>           
            </div>
          
            <app-textbox-input class="col-12 col-md-6 col-xl-4" tipo="Texto" titulo="Rut Empresa" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.RUT_EMPRESA"></app-textbox-input>
            <app-textbox-input class="col-12 col-md-6 col-xl-4" tipo="Texto" titulo="Nombre Propietario" [(value)]="encuesta.NOMBRE_PROPIETARIO"></app-textbox-input>
            <app-textbox-input class="col-12 col-md-12 col-xl-4" tipo="Texto" titulo="Razón Social" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.RAZON_SOCIAL"></app-textbox-input>           
           
            <div class="d-flex justify-content-center col-12" style="margin-bottom: calc(0.8rem + 16px);">  
               <button type="button"  class="btn btn-secondary btn-elevado btn-sm" style="width: 350px;">CAMBIAR RAZÓN SOCIAL</button>
            </div>
             
            <app-textbox-input class="col-12 col-md-6 col-xl-4" tipo="Texto" titulo="Nombre Planta" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.NOMBRE_UNIDAD"></app-textbox-input>
            <app-textbox-input class="col-12 col-md-6 col-xl-4" tipo="Texto" titulo="Ciudad Planta" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.CIUDAD"></app-textbox-input>
            <app-textbox-input class="col-12 col-md-12 col-xl-4" tipo="Texto" titulo="Dirección Planta" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.DIRECCION"></app-textbox-input>            
       
            <div class="col-12 col-sm-6 col-xl-4" >
                <label class="col-12 col-xl-4 tituloCampo noPadding">Fono 1</label>
                <lista-desplegable2 simple="true" tieneTitulo="false" class="codigo col-xl-2" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.AREA1" [lista]="codigoPlanta" identificador="id" texto="valor"></lista-desplegable2>
                <app-textbox-input  tieneTitulo="false" class="fono col-xl-6 noPadding" tipo="Entero" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.FONO1"></app-textbox-input>
            </div>   
            <div class="col-12 col-sm-6 col-xl-4"  >
                <label class="col-12 col-xl-4 tituloCampo noPadding">Fono 2</label>
                <lista-desplegable2 simple="true" tieneTitulo="false" class="codigo col-xl-2" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.AREA2" [lista]="codigoPlanta" identificador="id" texto="valor"></lista-desplegable2>
                <app-textbox-input  tieneTitulo="false" class="fono col-xl-6 noPadding" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.FONO2"></app-textbox-input>
            </div>        
            <app-textbox-input class="col-12 col-sm-6 col-xl-4" tipo="Correo" titulo="Email Planta" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.MAIL"></app-textbox-input>
            <app-textbox-input class="col-12 col-sm-6 col-xl-4" tipo="Texto" titulo="Casilla Planta" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.CASILLA"></app-textbox-input>        
        </div>

        <h2>A2. Antecedente de la gerencia</h2>
        <hr>      
        <div class="form-inline">
            <app-textbox-input  class="col-12 col-md-6 col-xl-4 " tipo="Texto" titulo="Nombre Gerente" [(value)]="encuesta.NOMBRE_GERENTE"></app-textbox-input>
            <div class="col12 col-md-6 col-xl-8 ">
                <span class="label_switch col-8 col-sm-9 col-md-8 col-xl-auto">¿Los datos de la gerencia son los mismo datos de la planta?</span>
                <switch-boton class="col-4 col-sm-3 col-md-4 col-xl-auto align-self-center" #switch_boton (change)="copiar_datos()"></switch-boton>
            </div>
        
            <lista-desplegable2 class="col-12 col-md-4" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.REGION" [lista]="regionesList" (valueChange)="cambiarProvincias(false,encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.REGION)" titulo="Región" identificador="REGION" texto="NOMBRE"></lista-desplegable2>
            <lista-desplegable2 class="col-12 col-md-4" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.PROVINCIA" validadores="requerido()" [lista]="provinciasListGerencia" (valueChange)="cambiarComunas(false,encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.REGION,encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.PROVINCIA)" titulo="Provincia" identificador="PROVINCIA" texto="NOMBRE"></lista-desplegable2>
            <lista-desplegable2 class="col-12 col-md-4" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.COMUNA" validadores="requerido()" [lista]="comunasListGerencia" titulo="Comuna" identificador="COMUNA" texto="NOMBRE"></lista-desplegable2>
        
            <app-textbox-input class="col-12 col-md-6 col-xl-4" tipo="Texto" titulo="Dirección Gerencia" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.DIRECCION"></app-textbox-input>
            <app-textbox-input class="col-12 col-md-6 col-xl-4" tipo="Texto" titulo="Ciudad Gerencia" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.CIUDAD"></app-textbox-input>
            <app-textbox-input class="col-12 col-md-12 col-xl-4" tipo="Texto" titulo="Casilla Gerencia" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.CASILLA"></app-textbox-input>           
        
            <div class="col-12 col-sm-6 col-xl-4" >
                <label class="col-12 col-xl-4 tituloCampo noPadding">Fono 1</label>
                <lista-desplegable2 simple="true" tieneTitulo="false" class="codigo col-xl-2" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.AREA1" [lista]="codigoGerencia" identificador="id" texto="valor"></lista-desplegable2>
                <app-textbox-input  tieneTitulo="false" class="fono col-xl-6 noPadding" tipo="Entero" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.FONO1"></app-textbox-input>
            </div>   
            <div class="col-12 col-sm-6 col-xl-4"  >
                <label class="col-12 col-xl-4 tituloCampo noPadding">Fono 2</label>
                <lista-desplegable2 simple="true" tieneTitulo="false" class="codigo col-xl-2" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.AREA2" [lista]="codigoGerencia" identificador="id" texto="valor"></lista-desplegable2>
                <app-textbox-input  tieneTitulo="false" class="fono col-xl-6 noPadding" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.FONO2"></app-textbox-input>
            </div>        
            <app-textbox-input class="col-12 col-sm-6 col-xl-4" tipo="Correo" titulo="Email Gerencia" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.MAIL"></app-textbox-input>
            <app-textbox-input class="col-12 col-sm-6 col-xl-4" tipo="Texto" titulo="Web" [(value)]="encuesta.PEF_EMPRESA_UNIDAD_ASTILLAS.PEF_EMPRESA_ASTILLAS.WEB"></app-textbox-input>                  
        </div>

        <h2>A3. Antecedentes del encuestado</h2>
        <hr>              
        <div class="form-inline">
            <lista-desplegable2 class="col-12 col-sm-6 col-xl-4" [(value)]="encuesta.C_ENCUESTADOR" [lista]="encuestadorList" titulo="Nombre Encuestador" identificador="C_ENCUESTADOR" texto="NOMBRE"></lista-desplegable2>
            <fecha class="col-12 col-sm-6 col-xl-4" [valido]="valido_35" #fecha [titulo]="'Fecha'"></fecha>
            <!-- FECHA_ENCUESTA
            <lista-desplegable [valido]="valido_34" #nombre_encuestador [titulo]="'Nombre encuestador'" [clase_label]="'label_largo'" [clase_input]="'ancho_70'"></lista-desplegable>
            <fecha [valido]="valido_35" #fecha [titulo]="'Fecha'" [clase_input]="'ancho_10'"></fecha>
            -->
       
            <app-textbox-input class="col-12 col-sm-6 col-xl-4" tipo="Texto" titulo="Nombre Encuestado" [(value)]="encuesta.NOMBRE_ENCUESTADO"></app-textbox-input>           
            <lista-desplegable2 class="col-12 col-sm-6 col-xl-4" [(value)]="encuesta.CARGO_ENCUESTADO" [lista]="cargoList" titulo="Cargo" identificador="CARGO" texto="DESCRIPCION"></lista-desplegable2>            
        
            <app-textbox-input class="col-12 col-sm-6 col-xl-4" tipo="Correo" titulo="Email Encuestado" [(value)]="encuesta.EMAIL_ENCUESTADO"></app-textbox-input>                       
            <app-textbox-input class="col-12 col-sm-6 col-xl-4" tipo="Numero" titulo="Fono" [(value)]="encuesta.CELULAR_ENCUESTADO"></app-textbox-input>                     
        </div>
    </app-formulario>
        <div class="d-flex justify-content-center" style="margin-bottom: 80px;">  
            <button type="button"  class="btn btn-success btn-elevado" style="width: 250px;">FINALIZAR FORMULARIO A</button>
        </div>       
    </div>
<menu-footer></menu-footer>
<app-spinner  [display] ="spinnerComp" ></app-spinner>