
.switch {
  position: relative;
  display: inline-block;
  width: 84px;

  margin-bottom: 0px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 26px;
  width: 84px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 14px;
  left: 6px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/

.on{
  display: none;
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 49%;
  right: 43%;
  font-size: 14px;
  font-family: Verdana, sans-serif;
}
.off
{

  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 51%;
  left: 62%;
  font-size: 14px;
  font-family: Verdana, sans-serif;
}
input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/




@media  screen and (max-width: 425px)   {
        
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    height: 27px;
    width: 80px;

    
  }
  .slider:before {


    height: 17px;

  }
  
}
@media  screen and (max-width:850px) and (min-width:450px) {
  .slider {
    position: absolute;
    cursor: pointer;
    top: -5px;
    height: 32px;
    width: 100px;

    
  }
  .slider:before {
    left: 4px;

    height: 22px;

  }
  input:checked + .slider:before {
    -webkit-transform: translateX(77px);
  }
}



@media  screen and (max-width: 1140px)  and (min-width: 850px)  {

}



@media  screen and (max-width: 1552px) and (min-width: 1140px) {
}