<app-navbar></app-navbar>
<app-title  [formulario]=true></app-title>
<div class="contenedor animated fadeIn fast">
        <subtitulo [titulo]="'E1. Personal propio'"></subtitulo>
        <opciones></opciones>
        
        <subtitulo [titulo]="'E2. Personal tercero'"></subtitulo>
        <opciones></opciones>
     

                
<div align="center" class="btn_enviar" >
   
    <button type="submit" class="btn btn-success">ENVIAR FORMULARIO</button>

</div>

        </div>
        
    <menu-footer></menu-footer>
