

<nav class="navbar navbar-expand-sm  navbar-dark sub_nav" >
  <button class="btn btn-secondary btn_sub_menu" type="button" onclick="openNav()">
    <img src="/assets/icons/menu.png" >
  </button>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Asignadas</a>
  <a href="#">Pendientes</a>
  <a href="#">Con reparo</a>
  <a href="#">Reemplazo</a>
  <a href="#">Realizadas</a>
</div>



  <button type="button" class="btn btn-success  btn_menu_2">Asignadas</button>
  <button type="button" class="btn btn-success  btn_menu_2">Pendientes</button>
  <button type="button" class="btn btn-success  btn_menu_2">Con reparo</button>
  <button type="button" class="btn btn-success  btn_menu_2">Reemplazo</button>
  <button type="button" class="btn btn-success  btn_menu_2">Realizadas</button>


</nav>
