<table >

    <tr>
            <th  class="esquina_izquierda">Especialización</th>
            <th class="celda_subtitulo"> Hombres</th>
            <th class="celda_subtitulo">Mujeres</th>
            <th class="esquina_derecha">N° Meses</th>


        </tr>
        <tr>
                <td class="sin_borde_abajo">Profesionales</td>
                <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
     
            </tr>
            <tr>
                    <td class="sin_borde_abajo">Técnicos</td>
                    <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                    <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                    <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
         
                </tr>
                <tr>
                        <td class="sin_borde_abajo">Operarios calificados</td>
                        <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                        <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                        <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                   
                    </tr>
                    <tr>
                            <td class="sin_borde_abajo">Operarios no calificados</td>
                            <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                            <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                            <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                 
                        </tr>
                        <tr>
                                <td class="sin_borde_abajo">Administrativos</td>
                                <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                                <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                                <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
     
                            </tr>
                            <tr>
                                    <td class="sin_borde_abajo">Administrativos</td>
                                    <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                                    <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                                    <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
           
                                </tr>
                                <tr>
                                        <td class="sin_borde_abajo">Total</td>
                                        <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                                        <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                                        <td ><textbox-numerico [titulo]="''" [clase_input]="'input_form_e_temporal'"></textbox-numerico></td>
                           
                                    </tr>
</table>