<app-navbar></app-navbar>
<app-title  [formulario]=true></app-title>
<form [formGroup]="forma" (ngSubmit)="guardar()" novalidate="novalidate">
<div class="contenedor animated fadeIn fast">

<subtitulo [titulo]="'B1. Clasificación del equipo'"></subtitulo>     

<div class="form-inline" >
    <checkbox formControlName="movil" [titulo]="'Móvil'" [clase_label]="'ancho_25'" [clase_input]="'grupo_1'" [id]="1" ></checkbox>
    <checkbox formControlName="permanente" [titulo]="'Permanente'" [clase_label]="'ancho_25'" [clase_input]="'grupo_1'" [id]="2" ></checkbox>
  </div> 
  


<subtitulo [titulo]="'B2. Situación actual'"></subtitulo>     
<div class="form-inline" >
    <checkbox (change)="mostrar_b3('P')" formControlName="b2_paralizado" [titulo]="'Paralizado'" [clase_input]="'grupo_2'"  [clase_label]="'ancho_25'"  [id]="3" ></checkbox>
    <checkbox (change)="mostrar_b3('T')"formControlName="b2_trabajando"[titulo]="'Trabajando'"  [clase_input]="'grupo_2'" [clase_label]="'ancho_25'" [id]="4"  ></checkbox>
    <checkbox (change)="mostrar_b3('N')"formControlName="b2_nuevo"[titulo]="'Nuevo'"  [clase_input]="'grupo_2'" [clase_label]="'ancho_25'" [id]="5" ></checkbox>
    <checkbox (change)="mostrar_b3('D')" formControlName="b2_desaparecido"[titulo]="'Desaparecido'"  [clase_input]="'grupo_2'" [clase_label]="'ancho_25'" [id]="6" ></checkbox>
</div> 
  
<div  *ngIf="situacion == 'P'  ">
<subtitulo [titulo]="'B3. Causa paralización'"></subtitulo>     
<div class="form-inline" >
 
      <checkbox (click)="valor_checbox_paralizacion(option[0])"  *ngFor="let option of lista ; let i = index"  [titulo]="option[0]" [clase_input]="'grupo_3'" [clase_label]="'ancho_50'" [id]="i +7" ></checkbox>

    </div> 
  </div>
  
  <div  *ngIf=" situacion == 'D' ">
    <subtitulo [titulo]="'B3. Causa desaparecido'"></subtitulo>     
    <div  class="form-inline"  >

          <checkbox (click)="valor_checbox_desaparecido(option[0])"  *ngFor="let option of lista ; let i = index"  [titulo]="option[0]" [clase_input]="'grupo_3'" [clase_label]="'ancho_50'" [id]="i +7" ></checkbox>

        </div> 
      </div>

      <div  *ngIf=" situacion != 'D' ">
<subtitulo [titulo]="'B4. Situación futura'"></subtitulo>      
<div class="form-inline" >
      <checkbox formControlName="b4_paralizado" [titulo]="'Paralizado'" [clase_label]="'ancho_25'" [id]="30"  [clase_input]="'grupo_4'" ></checkbox>
      <checkbox formControlName="b4_trabajando"  [titulo]="'Trabajando'" [clase_label]="'ancho_25'" [id]="31" [clase_input]="'grupo_4'"></checkbox>
      <checkbox formControlName="b4_nuevo" [titulo]="'Nuevo'" [clase_label]="'ancho_25'" [id]="32" [clase_input]="'grupo_4'"></checkbox>
      <checkbox formControlName="b4_desaparecido" [titulo]="'Desaparecido'" [clase_label]="'ancho_25'" [clase_input]="'grupo_4'" [id]="33"></checkbox>
    </div> 

      </div>
</div>
<br>
<div align="center" class="btn_enviar" >     <button type="submit" class="btn btn-success">ENVIAR FORMULARIO</button></div>
</form>
   <menu-footer></menu-footer>
