label{
    margin-top:8px ;
    margin-bottom:unset ;
    margin-right: 5px;
 
}
div{
    display: flex;
    margin-top: 20px;
}

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 868px) {
  
    div
    {   
     
        display: flex;
    flex-wrap: wrap;
    }
   }
