.sin_borde_arriba
{
    border-top: unset  ; 
}
.sin_borde_abajo
{
  border-bottom: unset ;
}

.esquina_izquierda
{
  border-left: 1px solid;
  font-weight:normal;
  background-color: lightgrey;
}
.esquina_derecha
{
  border-right: 1px solid;
  font-weight:normal;
  background-color: lightgrey;
}
.celda_subtitulo
{
  background-color: lightgrey;
  font-weight:normal;
}


table
{
  width: 45rem;
}
td, th {
     padding: 4px;
     border-top-width: 0px ;
     border-bottom-width: 0px;

}


 table th {
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

}
table
{
  border-color: #fff;
    margin-left:16px;

}

.div_responsivo {
    box-sizing: border-box;
    display: table-cell;

 
 
}
.contenedor {

  font-size: 13px;
}
@media  screen and (max-width: 1552px) and (min-width: 1140px)  {

  td
  {
    padding-top: 8px;
  }
  .contenedor
  {
    
    font-size: 12px;
  
  }

}
@media  screen and (max-width: 1140px)  and (min-width:850px) {

  .contenedor
  {
    
    font-size: 9px;
  
  }
 
}
@media  screen and (max-width: 850px)  and (min-width: 763px) {
    .div_responsivo {
  

        display: inline-block;
     margin-top: 10px;
     
    }

}

@media  screen and (max-width: 763px)   and (min-width: 701px) {

  table
{
  width: 41rem;

}
}
@media  screen and (max-width:701px)   {

    table
  {
    width: 17.4rem;

  }
  }

