<div align="center">

    <table>
        <tr>
            <td [style.display]="ocultar ? 'none' : 'inline-block'"> <label [ngClass]="clase_label" for="dropdown" [style.width.px]="label_ancho">{{titulo}}</label></td>
            
            
            <td *ngIf="clase_input != 'input_form_c_unidad' && clase_input != 'input_form_c_unidad_c1'"   >
              
            
                <select  [(ngModel)]="value"  [ngClass]="clase_input" class="form-control" id="dropdown"  [style.width.px]="input_ancho"> 
                 <option *ngFor="let option of lista ; let i = index" value="{{option[1]}}">{{option[0]}}</option>  
                </select> 

            </td>
            <td [style.display]="'block' " *ngIf="clase_input == 'input_form_c_unidad' "  >
              
            
                    <select [(ngModel)]="value" [ngClass]="clase_input" class="form-control" id="dropdown"  [style.width.px]="input_ancho"> 
                     <option *ngFor="let option of lista ; let i = index" value="{{option[1]}}">{{option[0]}}</option>  
                    </select> 
                </td>
                <td [style.display]="'block' " *ngIf="clase_input == 'input_form_c_unidad_c1' "  >
              
            
                        <select [(ngModel)]="value" [ngClass]="clase_input" class="form-control" id="dropdown"  [style.width.px]="input_ancho"> 
                         <option *ngFor="let option of lista ; let i = index" value="{{option[1]}}">{{option[0]}}</option>  
                        </select> 
                    </td>
        </tr>
        <tr >
                <td>
                       
                </td>
            <td>
                    <b *ngIf="valido == false " class="requerido" >* is required </b> &nbsp;
            </td>
        </tr>
    </table>

</div>