<app-navbar></app-navbar>
<app-title [formulario]=true></app-title>
<form [formGroup]="forma" (ngSubmit)="guardar()" novalidate="novalidate">

<div class="contenedor animated fadeIn fast">
    <subtitulo [titulo]="'D1. Abastecimiento de astillos sin corteza'"></subtitulo>

    <ng-container *ngFor="let fila of lista_productos_sc ; let i = index ">
        <b>{{fila[4]}}</b>

<div class="div_responsivo" id="myDIV">
    <!--<tr>
        <th class="celda_titulo " [ngClass]="consumo_activo_2" (click)="cambiarFormulario_2('consumo')">Consumo</th>
        <th class="celda_titulo " [ngClass]="origen_activo_2" (click)="cambiarFormulario_2('origen')">Origen</th>
        <th class="celda_titulo " [ngClass]="regiones_activo_2" (click)="cambiarFormulario_2('regiones')">Regiones</th>
    </tr>-->
        <table class="table botones">
            <tr>
      
                <th class="celda_titulo "  (click)="cambiarFormulario('consumo')">Consumo</th>
                <th class="celda_titulo " (click)="cambiarFormulario('origen')">Origen</th>
                <th class="celda_titulo " (click)="cambiarFormulario('regiones')" >Regiones</th>
            </tr>
        </table>
        <table class="tabla_0" >
            
            <tr>
                <th class="esquina_izquierda">Tipo de abastecimineto</th>
            

            </tr>
            <ng-container *ngFor="let option of lista ; let a = index ">
       <tr>
                  
                    <td class="sin_borde_abajo ">{{option[0]}}</td>
        
                 
                </tr>
            </ng-container>
        
            <tr>
                <td class="sin_borde_abajo">Total</td>
            </tr>

        </table>
        <table class="tabla_1" [ngStyle]="{display:boton_1_activo}">

            <tr>

                <th class="celda_subtitulo"> Consumo (%)</th>
                <th class="celda_subtitulo"> Consumo </th>
                <th class="esquina_subtitulo">Unidad</th>


            </tr>
            <ng-container *ngFor="let option of lista ; let a = index; let c = count ">
                <tr>

                    <td>
            
                        <textbox-numerico [formControlName]="'a_'+fila[1]+'_'+option[1]+'_consumo_porcentaje_'+a" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                    </td>
                    <td>
                        <textbox-numerico [formControlName]="'a_'+fila[1]+'_'+option[1]+'_consumo_porcentaje_'+a" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                    </td>
                    <td>
                        <lista-desplegable  [formControlName]="'a_'+fila[1]+'_'+option[1]+'_unidad_'+a" [titulo]="''" [clase_input]="'input_form_d'"></lista-desplegable>
                    </td>
    
    
    
                </tr>
             
                    <ng-container *ngIf="a == c-1">
                   
                    <tr>

                        <td>
                            <textbox-numerico  [formControlName]="'a_'+fila[1]+'_total'" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                        </td>
        
        
                    </tr>
                    </ng-container>
 
                  
            </ng-container>
            
          
      

        </table>
        <table class="tabla_2" [ngStyle]="{display:boton_2_activo}">

            <tr>
                <th class="celda_subtitulo"> Propio (%)</th>
                <th class="esquina_subtitulo"> Terceros (%)</th>



            </tr>
            <ng-container *ngFor="let option of lista ; let a = index ">
                <tr>

                    <td>
                        <textbox-numerico [formControlName]="'a_'+fila[1]+'_'+option[1]+'_precio_'+a" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                    </td>
                    <td>
                        <textbox-numerico [formControlName]="'a_'+fila[1]+'_'+option[1]+'_terceros_'+a" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                    </td>
    
    
    
                </tr>
            </ng-container>
           
            <tr>
                <td></td>



            </tr>


        </table>
        <table class="tabla_3" [ngStyle]="{display:boton_3_activo}">

            <tr>

                <th class="celda_subtitulo"> IV</th>
                <th class="celda_subtitulo"> VI</th>
                <th class="celda_subtitulo"> VIII</th>
                <th class="celda_subtitulo"> IX</th>
                <th class="celda_subtitulo"> X</th>
                <th class="celda_subtitulo"> XI</th>
                <th class="celda_subtitulo"> XII</th>
                <th class="celda_subtitulo"> RM</th>
                <th class="celda_subtitulo"> XIV</th>
                <th class="esquina_derecha"> Total</th>


            </tr>
            
            <ng-container *ngFor="let option of lista ; let a = index ">
                <tr>

                    <td>
                        <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_iv_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_vi_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_viii_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_ix_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_x_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_xi_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_xii_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_rm_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_xiv_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'a_'+fila[1]+'_'+option[1]+'_region_total_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
    
    
    
                </tr>
            </ng-container>
           
            <tr>
                <td></td>



            </tr>



        </table>
    </div>
</ng-container>
    <subtitulo [titulo]="'D2. Abastecimiento de astillos con corteza'"></subtitulo>

    <ng-container *ngFor="let fila of lista_productos_cc ; let i = index ">
        <b>{{fila[4]}}</b>
    <div class="div_responsivo">
        <table class="table botones">
            <tr>
                <th class="celda_titulo " [ngClass]="consumo_activo_2" (click)="cambiarFormulario_2('consumo')">Consumo</th>
                <th class="celda_titulo " [ngClass]="origen_activo_2" (click)="cambiarFormulario_2('origen')">Origen</th>
                <th class="celda_titulo " [ngClass]="regiones_activo_2" (click)="cambiarFormulario_2('regiones')">Regiones</th>
            </tr>
        </table>
        <table class="tabla_0">
            <tr>
                <th class="esquina_izquierda">Tipo de abastecimiento</th>
            </tr>
            <ng-container *ngFor="let option of lista ; let a = index ">
                <ng-container *ngIf="option[1] == 2530011 || option[1] == 2530010">
                <tr>
          
                    <td class="sin_borde_abajo ">{{option[0]}}</td>
      
                 
                </tr>
            </ng-container>
            </ng-container>
            <tr>
                <td class="sin_borde_abajo">Total</td>
            </tr>

        </table>
        <table class="tabla_1" [ngStyle]="{display:boton_5_activo}">

            <tr>

                <th class="celda_subtitulo"> Consumo (%)</th>
                <th class="celda_subtitulo"> Consumo </th>
                <th class="esquina_subtitulo">Unidad</th>


            </tr>


            <ng-container *ngFor="let option of lista ; let a = index ; let c = count ">
                <ng-container *ngIf="option[1] == 2530011 || option[1] == 2530010">
                <tr>
          
                    <td>
            
                        <textbox-numerico [formControlName]="'b_'+fila[1]+'_'+option[1]+'_consumo_porcentaje_'+a" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                    </td>
                    <td>
                        <textbox-numerico [formControlName]="'b_'+fila[1]+'_'+option[1]+'_consumo_porcentaje_'+a" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                    </td>
                    <td>
                        <lista-desplegable  [formControlName]="'b_'+fila[1]+'_'+option[1]+'_unidad_'+a" [titulo]="''" [clase_input]="'input_form_d'"></lista-desplegable>
                    </td>
    
    
      
                 
                </tr>
            </ng-container>
           
          
          

                <ng-container *ngIf="a == c-1">
                    <tr>

                        <td>
                            <textbox-numerico  [formControlName]="'b_'+fila[1]+'_total'" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                        </td>
        
        
                    </tr>
                    </ng-container>

                </ng-container>


        </table>
        <table class="tabla_2" [ngStyle]="{display:boton_6_activo}">

            <tr>
                <th class="celda_subtitulo"> Propio (%)</th>
                <th class="esquina_subtitulo"> Terceros (%)</th>



            </tr>
            <ng-container *ngFor="let option of lista ; let a = index ">
                <ng-container *ngIf="option[1] == 2530011 || option[1] == 2530010">
                <tr>
          
                    <td>
                        <textbox-numerico [formControlName]="'b_'+fila[1]+'_'+option[1]+'_precio_'+a" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                    </td>
                    <td>
                        <textbox-numerico [formControlName]="'b_'+fila[1]+'_'+option[1]+'_terceros_'+a" [titulo]="''" [clase_input]="'input_form_d'"></textbox-numerico>
                    </td>
    
      
                 
                </tr>
            </ng-container>
            </ng-container>
            
            <tr>
                <td></td>



            </tr>


        </table>
        <table class="tabla_3" [ngStyle]="{display:boton_7_activo}">

            <tr>

                <th class="celda_subtitulo"> IV</th>
                <th class="celda_subtitulo"> VI</th>
                <th class="celda_subtitulo"> VIII</th>
                <th class="celda_subtitulo"> IX</th>
                <th class="celda_subtitulo"> X</th>
                <th class="celda_subtitulo"> XI</th>
                <th class="celda_subtitulo"> XII</th>
                <th class="celda_subtitulo"> RM</th>
                <th class="celda_subtitulo"> XIV</th>
                <th class="esquina_derecha"> Total</th>


            </tr>

            <ng-container *ngFor="let option of lista ; let a = index ">
                <ng-container *ngIf="option[1] == 2530011 || option[1] == 2530010">
                <tr>
          
                    <td>
                        <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_iv_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_vi_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_viii_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_ix_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_x_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_xi_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_xii_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_rm_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_xiv_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
                    <td>
                         <textbox-porcentaje [formControlName]="'b_'+fila[1]+'_'+option[1]+'_region_total_'+a" [titulo]="''" [clase_input]="'porcentaje'"></textbox-porcentaje>
                    </td>
    
      
                 
                </tr>
            </ng-container>
            </ng-container>
            
           
            <tr>
                <td></td>



            </tr>



        </table>


    </div>
    </ng-container>
</div>
<div class="btn_enviar" align="center"> 
    <button type="submit" class="btn btn-success btn-lg">FINALIZAR FORMULARIO</button>
</div>
</form>


<footer>
    <menu-footer></menu-footer>
</footer>