<app-navbar></app-navbar>
<app-title  [formulario]=true></app-title>
<div class="contenedor animated fadeIn fast">
    <form [formGroup]="forma" (ngSubmit)="guardar()" novalidate="novalidate">



        <div class="div_responsivo"> 
                <subtitulo [titulo]="'G1. Tipo Maquinaria'"></subtitulo>
                <table class="tabla_responsiva"> 
                <tr>
                        <th style="border-top:unset; border-bottom: unset;"> Tipo maquinaria</th>
                        <td class="espacio"></td>
                        <th style="border-top:unset; border-bottom: unset;"> Cantidad</th>
                    </tr>
                    <ng-container *ngFor="let option of lista ; let i = index ">
                        <tr>
                                <td class="label_input">{{option[0]}}</td>
                                <td class="espacio"></td>
                                <td><textbox-numerico  [formControlName]="option[1]+'_'+i" [titulo]="''" [clase_input]="'input_form_g'"  ></textbox-numerico></td>
                        
                            </tr>
                            </ng-container>
           
               
        </table>
    </div>

    <div class="div_responsivo" style="overflow-x:auto;"> 
            <subtitulo [titulo]="'G2. Relación Insumo / Producto'"></subtitulo>
            <table >

                    <tr>
                            <th  class="esquina_izquierda">Metro ruma</th>
                            <th class="celda_subtitulo"> BMDT</th>
                            <th class="celda_subtitulo">MESTREO</th>
                            <th class="celda_subtitulo">M3SOLIDO</th>
                            <th class="esquina_derecha">GMT</th>
                
                
                        </tr>
                        <tr>
                                <td class="sin_borde_abajo">Pino radiata CC</td>
                                <td ><textbox-numerico [formControlName]="'pino_radiata_cc_mr'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                <td ><textbox-numerico [formControlName]="'pino_radiata_cc_bmdt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                <td ><textbox-numerico [formControlName]="'pino_radiata_cc_mestreo'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                <td ><textbox-numerico [formControlName]="'pino_radiata_cc_gmt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                     
                            </tr>
                            <tr>
                                <td class="sin_borde_abajo">Eucalyptus Globulus SC</td>
                                <td ><textbox-numerico [formControlName]="'pino_radiata_sc_mr'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                <td ><textbox-numerico [formControlName]="'pino_radiata_sc_bmdt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                <td ><textbox-numerico [formControlName]="'pino_radiata_sc_mestreo'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                <td ><textbox-numerico [formControlName]="'pino_radiata_sc_gmt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                      </tr>
                                <tr>
                                        <td class="sin_borde_abajo">Eucalyptus Globulus CC</td>
                                        <td ><textbox-numerico [formControlName]="'eucalyptus_globulus_cc_mr'"  [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                        <td ><textbox-numerico [formControlName]="'eucalyptus_globulus_cc_bmdt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                        <td ><textbox-numerico [formControlName]="'eucalyptus_globulus_cc_mestreo'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                        <td ><textbox-numerico [formControlName]="'eucalyptus_globulus_cc_gmt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                    </tr>
                                    <tr>
                                            <td class="sin_borde_abajo">Eucalyptus Globulus SC</td>
                                            <td ><textbox-numerico [formControlName]="'eucalyptus_globulus_sc_mr'"  [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                            <td ><textbox-numerico [formControlName]="'eucalyptus_globulus_sc_bmdt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                            <td ><textbox-numerico [formControlName]="'eucalyptus_globulus_sc_mestreo'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                            <td ><textbox-numerico [formControlName]="'eucalyptus_globulus_sc_gmt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                        </tr>
                                        <tr>
                                                <td class="sin_borde_abajo">Eucalyptus Nitens CC</td>
                                                <td ><textbox-numerico [formControlName]="'eucalyptus_nitens_cc_mr'"  [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                        <td ><textbox-numerico [formControlName]="'eucalyptus_nitens_cc_bmdt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                        <td ><textbox-numerico [formControlName]="'eucalyptus_nitens_cc_mestreo'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                        <td ><textbox-numerico [formControlName]="'eucalyptus_nitens_cc_gmt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                    </tr>
                                            <tr>
                                                    <td class="sin_borde_abajo">Eucalyptus Nitens SC</td>
                                                    <td ><textbox-numerico [formControlName]="'eucalyptus_nitens_sc_mr'"  [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                                    <td ><textbox-numerico [formControlName]="'eucalyptus_nitens_sc_bmdt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                                    <td ><textbox-numerico [formControlName]="'eucalyptus_nitens_sc_mestreo'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                                    <td ><textbox-numerico [formControlName]="'eucalyptus_nitens_sc_gmt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                              </tr>
                                                <tr>
                                                        <td class="sin_borde_abajo">Otras exóticas</td>
                                                        <td ><textbox-numerico  [formControlName]="'otras_exoticas_mr'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                                        <td ><textbox-numerico [formControlName]="'otras_exoticas_bmdt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                                        <td ><textbox-numerico [formControlName]="'otras_exoticas_mestreo'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                                        <td ><textbox-numerico [formControlName]="'otras_exoticas_gmt'" [titulo]="''" [clase_input]="'input_form_g'"></textbox-numerico></td>
                                                    </tr>
                </table>
</div>
 
    <div align="center" class="btn_enviar" >
   
        <button type="submit" class="btn btn-success">ENVIAR FORMULARIO</button>
    
    </div>
</form> 
</div>


<menu-footer></menu-footer>
